/***** BASE STYLES *****/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
  background: #daf7f6;
  color: #3b3b3b;
}

/***** HEADER *****/
header {
  background: #ffffff;
  text-align: center;
}

h1 {
  display: inline-block;
  padding: 40px 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #f16059;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

header img {
  margin-right: 16px;
}
/***** MAIN *****/
main {
  width: 1000px;
  margin: 0 auto;
}

.card {
  margin: 25px 0;
  overflow: hidden;
}

.image {
  width: 500px;
  height: 550px;
  float: left;
}

.recipe {
  float: left;
  padding: 20px;
  width: 500px;
  height: 550px;
  background: #ffffff;
  box-sizing: border-box;
}

#cookies .image {
  background-image: url("../img/gluten-free-sugar-cookies.jpg");
  background-size: cover;
}
#pesto .image {
  background-image: url("../img/nut-free-pesto.jpg");
  background-size: cover;
}
#salad .image {
  background-image: url("../img/watermelon-salad.jpg");
  background-size: cover;
}
.recipe h2 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: #f16059;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 29px;
}

.time {
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #3b3b3b;
  overflow: auto;
}

.time div {
  float: left;
  padding-left: 6px;
  width: 33.3333%;
  box-sizing: border-box;
  text-transform: uppercase;
}

.time .cook {
  border-width: 0 1px;
  border-style: solid;
  border-color: #3b3b3b;
}

.time img {
  margin-right: 5px;
  vertical-align: middle;
  width: 15px;
  height: auto;
}

.time-details {
  display: inline-block;
}

.time strong {
  font-family: 'Montserrat', sans-serif;
}

.columns {
  overflow: auto;
}

.directions {
  float: left;
  width: 240px;
}

.ingredients {
  float: left;
  width: 205px;
  margin-right: 10px;
}

.recipe h3 {
  padding: 6px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #3b3b3b;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f16059;
  font-family: 'Montserrat', sans-serif;
}

.ingredients ul {
  padding-left: 15px;
  line-height: 24px;
  list-style-type: square;
}

.directions ol {
  padding-left: 15px;
  line-height: 22px;
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
  body {
  background: #f59b42;
  }
}


/* ----------- Monitors larger than 1200px wide ----------- */
 @media (min-width: 1200px) {
  body {
    background: #d9d9d9;
    }
    h1 {
    display: inline-block;
    padding: 40px 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color:#8c8c8c;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
